.navbar {
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: hsla(0, 0%, 100%, 1);
    padding: 12px, 120px, 12px, 120px;
    border-bottom: 1px solid hsla(265, 10%, 23%, 0.12)
}

/** Mobile screen */
@media (max-width: 480px) {
    .navbar {
        padding: 16px, 24px, 16px, 24px;
    }

    .logo {
        width: 144.77px;
        height: 22.56px;
    }
}