.copyrights {
    grid-area: copyrights;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: 	hsl(0, 0%, 20%);
}

.footer-social {
    cursor: pointer;
}

@media (max-width: 480px) {
    .copyrights {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: start;
        background-color: hsl(0, 0%, 100%);
        gap: 6px;
    }
}