/** Desktop first */
/* Lato Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #FCF8CA;
}

p {
    color: #333333AD;
}

/** Authentication page */
.auth-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 65px 1fr;
    grid-template-areas:
        "navbar navbar navbar"
        "form form form";
    width: 100%;
    height: 100vh;
}

.form-content {
    grid-area: form;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCF8CA;
}

/** Home page */
.home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 15% 1fr 15% 15%;
    grid-template-areas:
        "navbar"
        "tagline"
        "content"
        "newsletter"
        "footer";
    width: 100%;
    height: 100%;
    background-color: #FCF8CA;
    row-gap: 64px;
}

.newsletter-container {
    grid-area: newsletter;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 120px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#000000CC, #000000CC),
        url('https://s3-alpha-sig.figma.com/img/e0f7/1e25/cc34e79e1f52284620dbea34fb453966?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=piP6cnOoy8fXXJHVFCnMnpSYhUj~-wiATTQ005-9WVMdZE1zRQl7QolP5cGa6kkWUEHDtrLMohbyOSl~PB8biQcWFp9XBY9S0nEKpLMT4SJAMyBU~S5RRfv9AlmJNEpUUUoV0eX8nqI3P1js8oVP2lkdxbqtM70Wv6jWJ7cCagP68Pt6IIltY1YivsvIyKR5FNXBlGb2CgD71Wpg3Iwxri57kCJA47ikeTYBNUVT2HhW150RcXjbbAgBEGXT1BHgyLcZcfil~APLjEo-bpddz3x7PxHenPAjWed282aJoOhYzUWAbP0ep77g3Vduxu1~W--dDPi2cR2KRf2e97xhnA__');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 65%;
    padding: 82px 140px 64px 140px;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    gap: 40px;
}

.newsletter h3 {
    font-weight: 400;
    text-transform: uppercase
}

.newsletter h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 35.2px
}

.newsletter p {
    color: #ffff;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.2px;
}

.newsletter-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 42px;
    padding: 8px 8px 8px 32px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    background-color: #FFFFFF;
}

.newsletter-input input {
    width: 100%;
    border: 0;
}

.subscribe-button {
    width: 30%;
    height: 42px;
    padding: 10px 26px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    background-color: #FFBD3A;
    color: #FFFF;
}

.subscribe-button:hover {
    background-color: #f0b236;
}

.subscribe-button:active {
    background-color: #FFD26B;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1% 5%;
    grid-template-areas:
        "company"
        "divider"
        "copyrights";
    padding: 60px 120px;
    background-color: #FFFFFF;
    border-top: 1px solid #d8d8d8cc;
    gap: 20px;
}

.company {
    grid-area: company;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.company-info {
    display: flex;
    gap: 48px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-list p {
    font-weight: 700;
    color: #222325;
}

.footer-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
    color: #333333AD;
    gap: 13px;
}

.accordion-header svg {
    visibility: hidden;
}

.footer-divider {
    grid-area: divider;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #d8d8d8cc;
}

.copyrights {
    grid-area: copyrights;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333333AD;
}

.footer-social {
    cursor: pointer;
}


/** Mobile screen */
@media (max-width: 480px) {
    .navbar {
        padding: 16px, 24px, 16px, 24px;
    }

    .logo {
        width: 144.77px;
        height: 22.56px;
    }

    .home-container {
        width: 100%;
        height: 100%;
        grid-template-rows: 75px 10% 1fr 10% 7%;
        background-color: #FCF8CA;
        row-gap: 24px;
    }

    .tagline-container {
        padding: 28px 20px 0px 20px;
    }

    .tagline {
        padding: 64px 20px;
        /* gap: 24px; */
    }

    .tagline h1 {
        font-size: 24px;
        line-height: 26.4px;
    }

    .tagline p {
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0.2px;
    }

    .success-button {
        font-size: 14px;
        font-weight: 400;
    }

    .newsletter-container {
        padding: 0px 20px 28px 20px;
    }

    .newsletter {
        padding: 0px 20px 0px 20px;
    }

    .newsletter h3 {
        font-size: 16px;
        line-height: 22.4px;
    }

    .newsletter h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 26.4px;
    }

    .newsletter p {
        font-size: 14px;
        line-height: 19.6px;
    }

    .newsletter-input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 96px;
        padding: 0px;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        background-color: transparent;
        gap: 16px;
    }

    .newsletter-input input {
        width: 95.6%;
        text-align: center;
        padding: 10px 8px;
        border: 1px solid #e3e3e3;
    }

    .subscribe-button {
        width: 100%;
        padding: 10px 26px;
        font-size: 14px;
        line-height: 19.6px;
    }

    footer {
        grid-template-rows: 1fr 1% 15%;
        padding: 20px;
        background-color: #FFFFFF;
        gap: 16px;
    }

    .company {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: #FFFFFF;
        gap: 16px;
    }

    .company-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: 12px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0px;
        gap: 12px;
    }

    .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }

    .accordion-header svg {
        visibility: visible;
    }

    .accordion-header.active svg {
        transform: rotate(90deg);
    }

    .accordion-content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
    }

    .copyrights {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: start;
        background-color: #FFFFFF;
        gap: 12px;
    }
}