footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1% 5%;
    grid-template-areas:
        "company"
        "divider"
        "copyrights";
    padding: 60px 120px;
    background-color: hsl(0, 0%, 100%);
    border-top: 1px solid hsla(0, 0%, 85%, 0.8);
    gap: 20px;
}

.company {
    grid-area: company;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-divider {
    grid-area: divider;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    border-top: 1px solid hsla(0, 0%, 85%, 0.8);
}

/** Mobile screen */
@media (max-width: 480px) {
    footer {
        grid-template-rows: 1fr 1% 15%;
        padding: 20px;
        background-color: hsl(0, 0%, 100%);
        gap: 16px;
    }

    .company {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: hsl(0, 0%, 100%);
        gap: 16px;
    }
}