/** Desktop first */
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 98%;
    background-color: hsl(0, 0%, 100%);
    gap: 10px;
    border: 1px;
    border-radius: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 55%;
    gap: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 75%;
    background-color: hsl(0, 0%, 100%);
    gap: 30px;
    border: 1px;
    border-radius: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 25%;
    gap: 16px;
}

label {
    font-size: 16px;
    color: hsla(0, 0%, 20%, 0.678);
}

.red-color {
    color: hsl(0, 100%, 50%);
}

input {
    height: 35px;
    padding: 2px 8px;
    border: 1px solid hsl(0, 0%, 89%);
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: hsl(220, 4%, 14%);
}

input:focus {
    outline: none;
}

#password {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: 33%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

#togglePassword:focus {
    outline: none;
}

#confirmPassword {
    position: relative;
}

#toggleConfirmPassword {
    position: absolute;
    right: 33%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

#toggleConfirmPassword:focus {
    outline: none;
}

.pnumber-select {
    display: flex;
    gap: 24px;
}

#phoneNumber {
    height: 40px;
    padding: 2px 8px;
    border: 1px solid hsl(0, 0%, 89%);
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: hsl(220, 4%, 14%);
}

#phoneNumber:focus {
    outline: none;
}

.forgot-password {
    margin-left: auto;
    font-size: 16px;
    color: hsla(0, 0%, 20%, 0.678);
    text-decoration: none;
}

.forgot-password:hover {
    color: hsl(126, 54%, 48%);
    transition: all 0.2s ease-in-out;
}

.auth-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 35%;
    gap: 10px;
}

.button {
    width: 100%;
    height: 40px;
    padding: 10px 26px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.line-container {
    display: flex;
    align-items: center;
    text-align: center;
    color: hsla(0, 0%, 20%, 0.678);
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    /* padding-bottom: 10px; */
    background-color: hsl(0, 0%, 100%);
    color: hsla(0, 0%, 20%, 0.678);
    gap: 8px;
    border: 1px solid hsl(0, 0%, 89%);
}

.google-button:hover {
    background-color: hsl(0, 0%, 93%);
    transition: all 0.2s ease-in-out;
}

.auth-button-1 {
    background-color: hsl(126, 60%, 53%);
    color: hsl(0, 0%, 100%);
}

.auth-button-1:hover{
    background-color: hsl(126, 54%, 48%);
    transition: all 0.2s ease-in-out;
}

.auth-button-1:active{
    background-color: hsl(126, 60%, 53%);
}

.auth-button-2 {
    background-color: hsla(105, 85%, 92%, 0.8);
    color: hsl(126, 60%, 53%);
}

.auth-button-2:hover{
    background-color: hsla(105, 49%, 87%, 0.8);
    transition: all 0.2s ease-in-out;
}

.auth-button-2:active{
    background-color: hsla(105, 85%, 92%, 0.8);
}

/** Mobile screen */
@media (max-width: 480px) {
    .register {
        width: 90%;
    }

    .login {
        width: 90%;
    }

    .auth-button {
        margin-top: 10px;
    }
}