.confirm-toast-container {
	text-align: center;
	display: grid;
	gap: 10px;
}

.confirm-toast-message {
	font-size: 1em;
	color: hsl(0, 0%, 23%);
}

.confirm-button-wrapper {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.confirm-button-wrapper button {
	font-size: 1em;
	font-weight: 700;
	border: none;
	text-transform: capitalize;
	color: black;
	border-radius: 5px;
	transition: 0.3s;
}

.confirm-toast-button {
	background-color: hsl(126, 54%, 48%);
	padding: 0.5em 1.7em;
	color: hsl(0, 0%, 100%) !important;
	cursor: pointer;
}

.confirm-toast-button:hover {
	background-color: hsla(120, 67%, 65%, 1);
}

.confirm-toast-cancel-button {
	background-color: transparent;
	box-shadow: 0 0 0 1px hsla(11, 92%, 55%, 1);
	padding: 0.5em 1.7em;
	cursor: pointer;
}

.confirm-toast-cancel-button:hover {
	background-color: hsla(10, 75%, 49%, 1);
	color: hsl(0, 0%, 100%) !important;
}

.confirm-toast-cancel-button:active {
	color: hsl(0, 0%, 100%) !important;
}
