.admin-dashboard {
	display: flex;
	height: 100vh;
	font-family: Arial, sans-serif;
	position: relative;
}

.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100vh;
	width: 250px;
	background-color: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 13%);
	padding: 1rem;
	border-right: solid 1px hsla(0, 0%, 13%, 0.157);
	gap: 7px;
}

.sidebar div {
	padding: 0.5rem;
	cursor: pointer;
	width: 90%;
	border-radius: 5px;
	font-size: 1.25em;
	transition: 0.1s;
}

.sidebar div:hover {
	background-color: hsl(40, 100%, 61%);
	color: hsl(0, 0%, 100%);
}

.sidebar div:first-child:hover {
	background-color: transparent;
}

.sidebar div p:hover {
	color: hsl(0, 0%, 100%) !important;
}

.main-content {
	flex-grow: 1;
	margin-left: 280px;
	padding: 2rem;
}

.main-content h2 {
	margin-bottom: 1rem;
}

.main-content h3 {
	text-align: center;
}

/* button */
.main-content button {
	color: hsla(50, 100%, 98%, 1);
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s;
}

.main-content button:active {
	transform: scale(0.9);
}

.main-content button.form-btn {
	background-color: hsl(126, 54%, 48%);
}

.main-content button.form-btn:hover {
	background-color: hsla(120, 67%, 65%, 1);
}

.main-content button.cancel-btn {
	background-color: hsl(0, 100%, 50%);
}

.main-content button.cancel-btn:hover {
	background-color: hsla(10, 75%, 49%, 1);
}

.main-content button.edit-btn {
	background-color: transparent;
	color: hsl(126, 54%, 48%);
	border: 1px solid hsl(126, 54%, 48%);
}

.main-content button.edit-btn:hover {
	background-color: hsl(126, 54%, 48%);
	color: hsl(0, 0%, 100%);
}

.main-content button.delete-btn {
	background-color: transparent;
	color: hsl(0, 100%, 50%);
	border: 1px solid hsl(0, 100%, 50%);
}

.main-content button.delete-btn:hover {
	background-color: hsl(0, 100%, 50%);
	color: hsl(0, 0%, 100%);
}

.main-content form {
	padding: 2em;
	box-shadow: 0 0 5px hsl(0, 0%, 50%);
	border-radius: 15px;
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.main-content ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
.main-content li:first-child {
	position: sticky;
	top: 0;
	background-color: hsla(42, 100%, 71%, 1);
}

.main-content li {
	display: flex;
	align-items: center;
	padding: 1em;
	border-radius: 10px;
	background-color: hsla(48, 100%, 92%, 0.8);
	border: 1px solid hsla(40, 100%, 61%, 1);
}

.table-header li {
	color: hsl(0, 0%, 100%) !important;
}

.main-content li p:first-child {
	margin-right: 40px;
	min-width: 50px;
}

.main-content li:first-child p {
	font-weight: 700;
}

.main-content form .button-wrapper {
	margin-left: 0;
}

.main-content .button-wrapper {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-left: auto;
}

.form-admin .input-form:last-child {
	flex-direction: row;
	gap: 0;
	align-items: center;
}

.form-admin .input-form:last-child input {
	width: max-content;
	height: max-content;
}

.card-dashboard-wrap {
	display: flex;
	gap: 10px;
}

.card-dashboard {
	width: 200px;
	background-color: hsl(40, 100%, 61%);
	color: white;
	border-radius: 7px;
	padding: 1em 0.7em;
}

.card-dashboard p {
	color: white;
	font-size: 1.5em;
	text-align: center;
	font-weight: 700;
}