.user-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7%;
  gap: 30%;
  size: 16px;
  color: hsla(0, 0%, 20%, 0.678);
  cursor: pointer;
}

.category-option {
  font-weight: bold;
  cursor: pointer;
}

.popup-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 200px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  z-index: 1000;
}

.popup-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup-menu li {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.popup-menu li:last-child {
  border-bottom: none;
}

.popup-menu li:hover {
  background: #f7f7f7;
}
